/* style.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2019

*/
/* palette.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2018

*/
/* Parametric mixins */
/* mobile styles */
body {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}
.desktop {
  display: none;
}
header {
  margin-top: 2.8em;
}
header section.container-fluid div.row {
  text-align: center;
}
header section.container-fluid div.row h1 {
  margin-top: 35%;
}
header section.container-fluid div.row .cta {
  font-size: 100%;
  font-weight: bold;
  margin-top: 1em;
  background-color: #ff0000;
  border-color: #ff0000;
}
header section.container-fluid div.row .cta:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}
header section.container-fluid div.row #slider {
  display: none;
}
header section.container-fluid div.row #hero,
header section.container-fluid div.row #alt {
  width: 100%;
  height: 400px;
  background-image: url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header section.container-fluid div.row #hero h1,
header section.container-fluid div.row #alt h1 {
  padding: .5em;
  text-align: center;
  color: #fff;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
header section.container-fluid div.row #hero h1 {
  text-transform: none;
  border-radius: 0;
}
header nav {
  background-color: #FFF;
  border-bottom: solid 0.5em #ff0000;
}
header nav .navButton,
header nav .weatherButton {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff0000;
  color: #FFF;
}
header nav #navbarNav,
header nav #navbarWeather {
  padding: .5em;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #FFF;
  margin-top: .5em;
}
header nav #navbarNav a,
header nav #navbarWeather a {
  color: #ff0000;
}
header nav #navbarNav {
  text-align: center;
  background-color: #FFF;
}
header nav .active {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff0000;
  color: #FFF !important;
}
header nav .active:hover {
  background-color: #e60000 !important;
}
header nav #logo {
  display: none;
}
header nav .weather .lead:nth-of-type(5) {
  border-bottom: 1px solid lightgray;
}
main section {
  padding-top: 1em;
}
main section .row div .jumbotron {
  background-color: #FFF;
}
main section .row div .jumbotron .btn {
  background-color: #ff0000;
  border-color: #ff0000;
}
main section .row div .jumbotron .btn:hover {
  background-color: #e60000 !important;
}
main section .row div h2 {
  padding: 1em 1em .5em 1em;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  font-size: 175%;
}
main section .row div p {
  padding: 1em;
  line-height: 1.5;
}
main section .row .col-xs-10,
main section .row .col-sm-10 {
  width: 80%;
  margin-left: 10%;
}
main section .row .col-sm-10 {
  margin-left: 0;
}
main section .row .label {
  width: 100%;
  margin-left: none;
}
main section .row .paragraph {
  padding: 1em;
}
main section .row .fb {
  padding-left: .5em;
  padding-right: 0;
  margin-top: 1em;
  width: auto;
  max-width: 100%;
}
main section .row .btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
}
main section .event,
main section .about {
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 5px 18px #d3d3d3;
  -moz-box-shadow: 0 5px 18px #d3d3d3;
  box-shadow: 0 5px 18px #d3d3d3;
}
main #faq {
  padding: 1em;
}
main #faq p {
  padding: 1em;
  padding-bottom: 0;
}
main #faq .ui-accordion-header {
  border-radius: 0;
  background-color: #FFF !important;
  color: #ff0000 !important;
  font-size: 125%;
  border: none !important;
  padding: .2em;
  border-bottom: 1px solid #ff0000 !important;
}
main #faq .ui-widget-content {
  border: none !important;
}
main #faq .ui-accordion-header-active {
  background-color: #ff0000 !important;
  text-decoration: none;
  color: #FFF !important;
  border: 1px solid #ff0000;
}
main #faq .answer {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 18px #d3d3d3;
  -moz-box-shadow: 0 5px 18px #d3d3d3;
  box-shadow: 0 5px 18px #d3d3d3;
}
footer {
  margin-top: 1em;
  padding-top: 1em;
  border-top: solid 0.5em #ff0000;
  background-color: #FFF;
}
footer section.container-fluid .row .col-sm-3,
footer section.container-fluid .row .col-sm-4 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #000;
  padding: 1em;
}
footer section.container-fluid .row .col-sm-3:nth-of-type(2) i,
footer section.container-fluid .row .col-sm-4:nth-of-type(2) i {
  color: #000;
  font-size: 175%;
  padding-left: .5em;
  padding-right: .5em;
}
footer section.container-fluid .row .col-sm-3:nth-of-type(2) i:hover,
footer section.container-fluid .row .col-sm-4:nth-of-type(2) i:hover {
  cursor: pointer;
  color: #ff0000;
}
footer section.container-fluid .row .col-sm-3 h2,
footer section.container-fluid .row .col-sm-4 h2 {
  font-size: 175%;
  padding: 1em;
}
footer section.container-fluid .row .col-sm-3 ul li a,
footer section.container-fluid .row .col-sm-4 ul li a {
  color: #000;
}
footer section.container-fluid .row .col-sm-3 ul li a:hover,
footer section.container-fluid .row .col-sm-4 ul li a:hover {
  text-decoration: underline;
}
footer section.container-fluid .row:nth-of-type(2) {
  background-color: #ff0000;
}
footer section.container-fluid .row:nth-of-type(2) .col-xs-12 {
  margin-left: 0;
  padding: 0;
  width: 100%;
  color: #FFF;
}
footer section.container-fluid .row:nth-of-type(2) .col-xs-12 h2 {
  text-align: center;
  padding: .5em;
}
/* Tablet Styles */
@media only screen and (min-width: 481px) {
  header section.container-fluid {
    text-align: center;
  }
  header section.container-fluid div.row {
    text-align: center;
  }
  header section.container-fluid div.row div#slider {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  header section.container-fluid div.row div#slider .imageOne {
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header section.container-fluid div.row div#slider .imageTwo {
    background-image: url('../images/imageTwo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header section.container-fluid div.row div#slider .imageThree {
    background-image: url('../images/imageThree.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header section.container-fluid div.row div#slider .imageOne,
  header section.container-fluid div.row div#slider .imageTwo,
  header section.container-fluid div.row div#slider .imageThree {
    height: 600px;
    text-align: center;
  }
  header section.container-fluid div.row div#slider h1 {
    width: 75%;
    display: inline-block;
    padding: .5em;
    text-align: center;
    color: #fff;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header section.container-fluid div.row div#slider .cta {
    display: inline-block;
    width: 25%;
  }
  header section.container-fluid div.row div#hero {
    display: none;
  }
  header section.container-fluid div.row div#alt h1 {
    margin-top: 30%;
  }
  main section .row .col-sm-10 {
    margin-left: 10%;
  }
  footer section.container-fluid {
    padding: 0;
  }
  footer section.container-fluid .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  footer section.container-fluid .row .col-sm-3,
  footer section.container-fluid .row .col-sm-4 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  footer section.container-fluid .row .col-sm-3:nth-of-type(2) i,
  footer section.container-fluid .row .col-sm-4:nth-of-type(2) i {
    font-size: 175%;
    padding-left: .25em;
    padding-right: .25em;
  }
  footer section.container-fluid .row .col-sm-3 p,
  footer section.container-fluid .row .col-sm-4 p {
    text-align: left;
  }
  footer section.container-fluid .row .col-sm-3 h2,
  footer section.container-fluid .row .col-sm-4 h2 {
    padding: 0;
    padding-bottom: 1em;
  }
}
/* Bigger Tablet Styles */
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  main section .row .paragraph {
    padding: 1em;
  }
  main section .row .list-group {
    margin-top: 2em;
  }
  main section .event,
  main section .about {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    margin-left: 2.5%;
  }
  main section .event:nth-of-type(even),
  main section .about:nth-of-type(even) {
    margin-left: 7.5%;
  }
  main #event ul {
    padding-bottom: 2em;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  header {
    margin-top: 0;
  }
  header section.container-fluid div.row h1 {
    margin-top: 15%;
  }
  header section.container-fluid div.row div#slider {
    margin-top: 0;
  }
  header section.container-fluid div.row div#slider .imageOne,
  header section.container-fluid div.row div#slider .imageTwo,
  header section.container-fluid div.row div#slider .imageThree {
    background-attachment: fixed;
  }
  header section.container-fluid div.row div#alt {
    background-attachment: fixed;
  }
  header section.container-fluid div.row div#alt h1 {
    margin-top: 10%;
  }
  header nav {
    margin-top: 0;
    margin-bottom: 0;
    position: inherit !important;
  }
  header nav div.navbar-expand-lg:nth-of-type(2) {
    width: 100%;
    padding: 0;
    padding-top: .5em;
  }
  header nav div.navbar-expand-lg div#navbarWeather {
    width: 100% !important;
    margin: 0;
    border-radius: 0;
  }
  header nav div.navbar-expand-lg div#navbarWeather .weather ul {
    text-align: left !important;
  }
  header nav div.navbar-expand-lg div#navbarWeather .weather .lead {
    margin-right: 1em;
    margin-left: 1em;
    padding-right: 1em;
    border-bottom: none;
    border-right: 1px solid lightgrey;
  }
  header nav div.navbar-expand-lg div#navbarNav {
    -webkit-box-shadow: 0 5px 18px #d3d3d3;
    -moz-box-shadow: 0 5px 18px #d3d3d3;
    box-shadow: 0 5px 18px #d3d3d3;
    padding: .5em;
    flex-grow: 0;
  }
  header nav div.navbar-expand-lg div#navbarNav ul.navbar-nav li {
    padding-left: 1em;
    padding-right: 1em;
  }
  header nav div.navbar-expand-lg div#navbarNav ul.navbar-nav li a {
    padding: .5em;
    transition: all .5s ease;
    border-radius: 5px;
  }
  header nav div.navbar-expand-lg div#navbarNav ul.navbar-nav li a:hover {
    transition: background-color 0.5s ease;
    color: #FFF;
    background-color: #ff3333;
  }
  header nav #logo {
    text-align: right;
    width: 70%;
    display: block;
    margin-top: .5em;
  }
  header nav #logo a {
    padding: 1em;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ff0000;
    color: #FFF;
  }
  header nav #logo a:hover {
    transition: all .5s ease;
    background-color: #e60000;
    text-decoration: none;
  }
  main #faq {
    padding: 2em;
  }
  main #faq h3 {
    padding: .5em !important;
  }
  main #faq p {
    padding: 4em;
  }
}
