/* style.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2019

*/
/* palette.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2018

*/
/* Parametric mixins */
/* mobile styles */
/* Tablet Styles */
/* Desktop Styles */
