/* style.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2019

*/
/* palette.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2018

*/
/* Parametric mixins */
/* mobile styles */
body {
  font-size: 16px;
  font-weight: normal;
}
header section.container-fluid div.row #slider {
  display: none;
}
header section.container-fluid div.row #slider img {
  width: 100%;
}
header section.container-fluid div.row #hero img {
  width: 100%;
}
/* Tablet Styles */
@media only screen and (min-width: 481px) {
  header section.container-fluid div.row div#slider {
    display: block;
  }
  header section.container-fluid div.row div#hero {
    display: none;
  }
}
/* Desktop Styles */
