/* style.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2019

*/

@import 'palette.less';
@import 'mixins.less';

/* mobile styles */

body{
    font-size: 16px;
    font-weight: normal;
}

header{
    margin-top: 2.8em;
    section.container-fluid {
        div.row {
            #slider {
                display: none;
                img {
                    width: 100%;
                }
            }
            #hero {
                img {
                    width: 100%;
                }
            }
        }
    }
    nav{
        background-color: @lightColor2;
        .navButton, .weatherButton{
            .borderRadiusandbgColor(5px, @lightColor1);
            color: @color1;
        }
        #navbarNav, #navbarWeather {
            width: 100%;
            padding: 1em;
            .borderRadiusandbgColor(5px, @color1);
            margin-top: 1em;
        }
        #navbarNav{
            text-align: center;
        }
        .active {
            .borderRadiusandbgColor(5px, @lightColor2);
        }
    }
}

main{
    section{
        padding-top: 1em;
        .row {
            div {
                width: 80%;
                margin-left: 10%;
                h2{
                    padding: 1em 1em .5em 1em;
                    border-bottom: 1px solid lightgrey;
                }
                p {
                    padding: 1em;
                    line-height: 1.5;
                }
            }
        }
    }
}

footer{
    background-color: @lightColor2;
    section{
        .row{
            .col-sm-3 {
                width: 80%;
                margin-left: 10%;
                margin-top: 1em;
                margin-bottom: 1em;
                .borderRadiusandbgColor(5px, @lightColor1);
                color: @color1;
                padding: 1em;
                &:nth-of-type(2){
                    i{
                        font-size: 175%;
                        padding-left: .5em;
                        padding-right: .5em;
                    }
                }
                ul {
                    li{
                        a {
                            color: @color1;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 481px){
    header {
        section.container-fluid {
            div.row{
                div#slider {
                    display: block;
                }
                div#hero {
                    display: none;
                }
            }
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {}