/* style.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2019

*/

@import 'palette.less';
@import 'mixins.less';

/* mobile styles */

body{}

header{}

main{}

nav{}

footer{}

/* Tablet Styles */
@media only screen and (min-width: 481px){}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {}