/* style.less

Project: Ace In The Hole MultiSport Events
Programmer: Jared Martinez
Date: 2/1/2019

*/

@import 'palette.less';
@import 'mixins.less';

/* mobile styles */

body {
    font-size: 16px;
    font-weight: normal;
}

header {
    margin-top: 2.8em;
    section.container-fluid {
        div.row {
            text-align: center;
            h1 {
                margin-top: 45%;
            }
            .cta {
                font-size: 75%;
                margin-top: 1em;
                background-color: @color3;
                border-color: @color3;
                &:hover {
                    background-color: darken(@color3, 10%);
                    border-color: darken(@color3, 10%);
                }
            }
            #slider {
                display: none;
            }
            #hero, #alt {
                width: 100%;
                height: 400px;
                .heroImage('https://via.placeholder.com/1920x400');
                h1 {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    nav {
        background-color: @color1;
        border-bottom: solid .5em @color3;
        .navButton, .weatherButton {
            .borderRadiusandbgColor(5px, @color3);
            color: @color1;
        }
        #navbarNav, #navbarWeather {
            padding: .5em;
            .borderRadiusandbgColor(0, @color1);
            margin-top: .5em;
            a {
                color: @color3;
            }
        }
        #navbarNav {
            text-align: center;
            .dropShadow(0, 5px, 18px, #d3d3d3);
            background-color: @color1;
        }
        .active {
            .borderRadiusandbgColor(5px, @color3);
            color: @color1 !important;
            &:hover{
                background-color: darken(@color3, 5%) !important;
            }
        }
        #logo {
            display: none;
        }
    }
}

main {
    section {
        padding-top: 1em;
        .row {
            div {
                width: 80%;
                margin-left: 10%;
                h2 {
                    padding: 1em 1em .5em 1em;
                    border-bottom: 1px solid lightgrey;
                    width: 100%;
                }
                p {
                    padding: 1em;
                    line-height: 1.5;
                }
            }
        }
    }
}

footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: solid .5em @color3;
    background-color: @color1;
    section.container-fluid {
        .row {
            .col-sm-3, .col-sm-4 {
                margin-top: 1em;
                margin-bottom: 1em;
                color: @color2;
                padding: 1em;
                &:nth-of-type(2) {
                    i {
                        font-size: 175%;
                        padding-left: .5em;
                        padding-right: .5em;
                        &:hover{
                            cursor: pointer;
                            color: @color3;
                        }
                    }
                }
                ul {
                    li {
                        a {
                            color: @color2;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                background-color: @color3;
                .col-xs-12 {
                    margin-left: 0;
                    padding: 0;
                    width: 100%;
                    color: @color1;
                    h2 {
                        text-align: center;
                        padding: .5em;
                    }
                }
            }
        }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 481px){
    header {
        section.container-fluid {
            div.row {
                div#slider {
                    display: block;
                    width: 100%;
                    .imageOne, .imageTwo, .imageThree {
                        .heroImage('https://via.placeholder.com/1920x750'); 
                        height: 600px;
                    }
                }
                div#hero {
                    display: none;
                }
                div#alt {
                    h1 {
                        margin-top: 30%;
                    }
                }
            }
        }
    }
    footer {
        section.container-fluid {
            padding: 0;
            .row {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                .col {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    &:nth-of-type(2) {
                        i {
                            font-size: 175%;
                            padding-left: .25em;
                            padding-right: .25em;

                        }
                    }
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
    header {
        margin-top: 0;
        section.container-fluid {
            div.row{
                h1{
                    margin-top: 15%;
                }
                div#slider {
                    margin-top: 0;
                    .imageOne, .imageTwo, .imageThree {
                        background-attachment: fixed;
                    }
                }
                div#alt {
                    background-attachment: fixed;
                    h1 {
                        margin-top: 10%;
                    }
                }
            }
        }
        
        nav {
            margin-top: 0;
            margin-bottom: 0;
            position: inherit !important;
            div.navbar-expand-lg {
                &:nth-of-type(2){
                    width: 100%;
                    padding: 0;
                    padding-top: .5em;
                }
               div#navbarWeather{
                   width: 100% !important;
                   margin: 0;
                   border-radius: 0;
                   ul.weather {
                       li {
                           padding-left: 1em;
                           padding-right: 1em;
                       }
                   }
               }
               div#navbarNav {
                   padding: .5em;
                   flex-grow: 0;
                   ul.navbar-nav{
                       li{
                        padding-left: 1em;
                        padding-right: 1em;
                        a{
                            padding: .5em;
                            transition: all .5s ease;
                            border-radius: 5px;
                            &:hover {
                                transition: background-color .5s ease;
                                // transition: color .6s ease;
                                color: @color1;
                                background-color: lighten(@color3, 10%);
                            }
                        }
                       }
                   }
               }
           }
           #logo {
               text-align: right;
               width: 70%;
               display: block;
               margin-top: .5em;
               a {
                    padding: 1em;
                    .borderRadiusandbgColor(5px, @color3);
                    color: @color1;
                    &:hover {
                        transition: all .5s ease;
                        background-color: darken(@color3, 5%);
                        text-decoration: none;
                    }
               }
           }
        }
    }
}